/* Reset some styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Overall Page Styling */
body {
    font-family: 'Georgia', serif;
    color: #fff;
    background: url('res/hp.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* Header Styling */
header {
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: rgba(32, 32, 32, 0.541);
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

header h1 {
    font-size: 2rem;
    color: #ffcc00;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

/* Book Section Styling */
.book-section {
    padding: 40px 20px;
    text-align: center;
}

.book-section h2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #fde47e;
    text-shadow: 0 0 50px rgba(172, 8, 8, 0.8);
}

/* Book Cards Grid */
.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgba(22, 22, 22, 0.918);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 15px;
    font-size: 1rem;
    color: #ffcc00;
}

.card button {
    margin: 15px;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #ffdd33;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
}

footer p {
    color: #ffcc00;
    font-size: 1rem;
}

